DTD/joc_c.dtd

<ELEMENT joc (titol,companyia,plataforma,anyLlançament,personatges)>

<!ELEMENT titol (#PCDATA)>
<!ELEMENT companyia (#PCDATA)>
<!ELEMENT plataforma (#PCDATA)>
<!ELEMENT anyLlançament (#PCDATA)>

<!ELEMENT personatges (personatge+)>
<!ELEMENT personatge (nom)>
<!ELEMENT personatge tipus CDATA #REQUIRED>

<!ELEMENT nom (#PCDATA)>